<div class="the-thing-creator">
  <form [formGroup]="formGroup">
    <ygg-action-bar-layout
      ><div ygg-action-bar-button>
        <button type="button" mat-fab class="submit" (click)="onSubmit()">
          <mat-icon>save</mat-icon>
        </button>
      </div>
      <div ygg-action-bar-content>
        <br>
        <ygg-tags-control
          label="這東東是個..."
          taggableType="the-thing"
          class="types"
          formControlName="types"
        ></ygg-tags-control>
        <br />
        <mat-form-field class="name">
          <input matInput placeholder="這東東叫..." formControlName="name" />
        </mat-form-field>
        <br />
        <ygg-title-divider>資料欄位</ygg-title-divider>
        <mat-divider> </mat-divider>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div>
            <mat-select
              placeholder="資料欄位型態"
              [formControl]="formControlNewCellType"
              required
            >
              <mat-option
                *ngFor="let cellType of cellTypes | keyvalue"
                [value]="cellType.key"
              >
                {{ cellType.value.label }}
              </mat-option>
            </mat-select>
          </div>
          <div>
            <mat-form-field>
              <input
                matInput
                placeholder="資料欄位名稱"
                [formControl]="formControlNewCellName"
                required
              />
            </mat-form-field>
          </div>
          <div>
            <button
              mat-mini-fab
              matTooltip="新增資料欄位"
              (click)="addCell()"
              [disabled]="
                !(formControlNewCellName.valid && formControlNewCellType.valid)
              "
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        <div *ngFor="let cell of cells">
          <the-thing-cell-control
            [cell]="cell"
            [formGroup]="cellsFormGroup"
          ></the-thing-cell-control>
        </div></div
    ></ygg-action-bar-layout>
  </form>
</div>
