.ygg-event-thumbnail {
  width: 400px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 3px 3px 6px #333333;
  padding: 10px;
  margin: 10px auto;
}

.ygg-event-thumbnail .inner-panel {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.ygg-event-thumbnail .icon img {
  width: 64px;
  height: 64px;
  border-radius: 10px;
}

.ygg-event-thumbnail .name {
  margin: 5px 5px;
  font-size: 24px;
}