/* You can add global styles to this file, and also import other style files */
@import '~leaflet/dist/leaflet.css';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.card {
  border-radius: 10px;
  box-shadow: 5px 5px 20px #0a2412;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 15%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.8) 85%
  ); /* background: rgb(255,241,219); */
  /* background: rgb(64, 64, 64);
  background: linear-gradient(
    62deg,
    rgba(64, 64, 64, 0.7656104678199405) 0%,
    rgba(71, 71, 71, 0.7880194314053747) 11%,
    rgba(82, 61, 38, 0.5079073865874475) 15%,
    rgba(47, 47, 47, 0.8356384790244222) 19%,
    rgba(59, 59, 59, 0.8160306358871674) 75%,
    rgba(79, 63, 43, 0.49670290479473034) 80%,
    rgba(56, 56, 56, 0.8748541652989321) 84%,
    rgba(70, 70, 70, 0.9) 100%
  ); */
}

.mat-form-field {
  padding: 5px 10px;
}

.page-title {
  color: bisque;
  text-shadow: 3px 3px 5px #000000;
}

.mat-form-field,
.mat-stepper-vertical,
.mat-stepper-horizontal {
  background: rgba(255, 255, 255, 0);
}

.mat-tooltip {
  font-size: 20px;
}

.panel {
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #0a2412;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 15%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.8) 85%
  );
  /* background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.5247141092765231) 0%,
    rgba(255, 232, 205, 0.48269730255383403) 100%
  ); */
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
pre,
input,
.mat-icon {
  color: bisque;
  text-shadow: 2px 2px 4px #222222;
}

.mat-form-field .mat-input-element {
  color: bisque;
}

.ygg-dialog .mat-dialog-title {
  background: rgb(39, 24, 0);
  background: radial-gradient(
    circle,
    rgba(39, 24, 0, 1) 0%,
    rgba(48, 29, 0, 0.9) 49%,
    rgba(77, 46, 0, 0.9) 100%
  );
  color: bisque;
  text-shadow: 2px 2px 2px darkgreen;
}

.ygg-dialog .mat-dialog-container {
  background: rgb(49, 30, 0);
  background: radial-gradient(
    circle,
    rgba(49, 30, 0, 0.9028653697807247) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.ygg-selected {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 3px 3px 6px #000000;
}

.mat-table {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Overwrite Quill styles */
.ql-snow .ql-stroke,
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  stroke: silver;
}

.ql-editor.ql-blank::before {
  color: bisque;
}

.ql-snow .ql-picker-options .ql-picker-item {
  color: darkblue;
}
