<div class="map-page">
  <ygg-page-title icon="category">附近的寶物</ygg-page-title>
  <div>
    <div class="search">
      <mat-form-field>
        <input
          matInput
          name="ourbox-map-search-keyword"
          placeholder="搜尋"
          [formControl]="formControlKeyword"
        />
        <mat-icon matSuffix color="accent">search</mat-icon>
      </mat-form-field>
    </div>
    <br />
    <div class="map-container">
      <div class="map" id="ourbox-main-map"></div>
    </div>
  </div>
</div>
