<div class="ygg-scheduler">
  <mat-horizontal-stepper linear>
    <mat-step label="日期、人數..." [stepControl]="scheduleFormGroup">
      <div class="stepper-content">
        <ygg-schedule-form [formGroup]="scheduleFormGroup"></ygg-schedule-form>
      </div>
      <div class="stepper-action" fxLayout='row' fxLayoutAlign='end center'>
        <button mat-raised-button matStepperNext [disabled]='scheduleFormGroup.invalid'>下一步</button>
      </div>
    </mat-step>
    <mat-step label="選擇體驗">
      <div class="stepper-content">
        <ygg-resource-selector multi (selectChange)='onSelectResources($event)'></ygg-resource-selector>
        </div>
        <div class="stepper-action" fxLayout='row' fxLayoutAlign='space-between center'>
          <button mat-raised-button matStepperPrevious >上一步</button>
          <button mat-raised-button matStepperNext [disabled]='!hasResourceSelected'>下一步</button>
        </div>  
    </mat-step>
    <mat-step label="自動排程">
      <ygg-scheduler-auto [scheduleForm$]='scheduleForm$' [resourceIds$]='selectedResourceIds$' (selectSchedule)='onSelectAutoScheudle($event)'></ygg-scheduler-auto>
    </mat-step>
    <mat-step label="行程調整">
      <ygg-scheduler-manual [schedule$]='scheduleSelect$'></ygg-scheduler-manual>
    </mat-step>
    <mat-step label="行程預覽">
      <!-- <ygg-schedule-view [id]='schedule.id'></ygg-schedule-view> -->
    </mat-step>
  </mat-horizontal-stepper>
</div>
