<div class="ygg-scheduler">
  <mat-horizontal-stepper linear>
    <mat-step label="日期、人數..." [stepControl]="scheduleFormGroup">
      <div class="stepper-content">
        <ygg-schedule-form [formGroup]="scheduleFormGroup"></ygg-schedule-form>
      </div>
      <div class="stepper-action" fxLayout='row' fxLayoutAlign='end center'>
        <button mat-raised-button matStepperNext [disabled]='scheduleFormGroup.invalid'>下一步</button>
      </div>
    </mat-step>
    <mat-step label="選擇體驗">
      <ygg-resource-selector></ygg-resource-selector>
    </mat-step>
    <mat-step label="自動排程">
      <ygg-scheduler-auto></ygg-scheduler-auto>
    </mat-step>
    <mat-step label="行程調整">
      <ygg-scheduler-manual></ygg-scheduler-manual>
    </mat-step>
    <mat-step label="行程預覽">
      <ygg-schedule-view></ygg-schedule-view>
    </mat-step>
  </mat-horizontal-stepper>
</div>
