<div class="pw-header">
  <mat-toolbar
    color="primary"
    class="toolbar"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <div>
        <button [routerLink]="['/home']" id="to-home" mat-mini-fab matTooltip="回首頁">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div>
        <button
          class="page-link"
          id="new-schedule"
          [routerLink]="['/scheduler', 'schedule-plans', 'new']"
          mat-mini-fab
          matTooltip="規劃遊程"
        >
          <mat-icon>directions_bike</mat-icon>
        </button>
      </div>
    </div>
    <div>
      <ygg-account-widget></ygg-account-widget>
    </div>
  </mat-toolbar>
</div>
