<div class="box-view" *ngIf="box">
  <ygg-page-title icon="inbox">{{ box.name }}</ygg-page-title>
  <div>
    <div *ngIf="!items || items.length <= 0">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <h2>寶箱中還沒有任何寶物，新增寶物？</h2>
        <div>
          <button mat-fab (click)="createItem()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="items?.length > 0">
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <div>
          <button mat-fab (click)="inviteMember()" matTooltip="邀請好友">
            <mat-icon>group_add</mat-icon>
          </button>
        </div>
        <div>
          <button mat-fab (click)="createItem()" matTooltip="新增寶物">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <br>
      <div fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap="30px">
        <div *ngFor="let item of items">
          <the-thing-thumbnail [theThing]="item" [imitation]="ImitationItem"></the-thing-thumbnail>
        </div>
      </div>
      <!-- <ygg-image-thumbnail-list [items]="items"></ygg-image-thumbnail-list> -->
    </div>
  </div>
</div>
