.tab-content {
  min-height: 300px;
}

.icon {
  width: 20vw;
  height: 20vw;
}

.icon img {
  width: 100%;
  height: 100%;
}

.friend-list {
  height: 25vh;
  overflow-y: auto;
}

.friend {
  width: 20vw;
  min-width: 250px;
  margin-bottom: 20px;
}
