<div class="homepage" *ngIf="reloader">
  <div>
    <ygg-image-thumbnail-list [items$]="plays$" size="big"></ygg-image-thumbnail-list>
  </div>
<!-- <div fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-around start" fxLayoutGap="50px">
    <div>
      <ygg-image-thumbnail-list [items$]="plays$" size="big"></ygg-image-thumbnail-list>
    </div>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="space-around center"
      fxLayoutGap="10px"
    >
      <div *ngFor="let link of links" class="link-card">
        <a [routerLink]="link.path" [ngClass]="link.class">
          <ygg-image-thumbnail [item]="link" size="big"></ygg-image-thumbnail>
        </a>
      </div>
    </div>
  </div> -->
  <!-- <div class="exhibits">
    <div *ngFor="let thing of exhibitThings">
      <the-thing-view [theThing]="thing" readonly></the-thing-view>
    </div>
  </div> -->
  <!-- <mat-card>
    <mat-card-header>
      <mat-card-title>我想要...</mat-card-title>
    </mat-card-header>
    <mat-card-content class="quick-start">
      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
        <a
          class="page-link"
          id="new-schedule"
          [routerLink]="['/scheduler', 'schedule-plans', 'new']"
          mat-raised-button
          >規劃遊程</a
        >
        <a
          class="page-link"
          id="add-my-play"
          [routerLink]="['/plays', 'new']"
          mat-raised-button
          >新增我的體驗</a
        >
      </div>
    </mat-card-content>
  </mat-card> -->
</div>
