<div class="ygg-resource-selector">
  <mat-selection-list (selectionChange)="onSelect($event)">
    <mat-list-option
      *ngFor="let id of selectedIds"
      [value]="id"
      [selected]="isSelected(id)"
    >
      <ygg-resource-thumbnail [id]="id"></ygg-resource-thumbnail>
    </mat-list-option>
  </mat-selection-list>
  <br>
  <mat-divider>
  </mat-divider>
  <br>
  <mat-selection-list (selectionChange)="onSelect($event)">
      <mat-list-option
        *ngFor="let id of unselectedIds"
        [value]="id"
        [selected]="isSelected(id)"
      >
        <ygg-resource-thumbnail [id]="id"></ygg-resource-thumbnail>
      </mat-list-option>
    </mat-selection-list>
  </div>
