.app-root {
  width: 100vw;
  min-width: 320px;
  padding-top: 80px;
  height: 100vh;
  overflow: auto;
}

/* .pw-page {
  margin-top: 80px;
} */

.pw-page-admin {
  width: 90vw;
  max-width: 1024px;
  margin-top: 70px;
  overflow: auto;
}
