<div class="app-root">
  <div class="background-layer">
    <div class="background-mask"></div>
  </div>
  <div
    class="main-layout"
    fxLayout="column"
    fxLayoutAlign="stretch stretch"
    fxLayoutGap="10px"
  >
    <div fxFlex="60px" class="pw-header"><pw-header></pw-header></div>
    <div fxFlex class="pw-page" #page>
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
    <div fxFlex="10px" class="pw-footer"></div>
    <!-- <div [ngClass]="pageClass"><router-outlet></router-outlet></div> -->
  </div>
  <div
    class="button-to-top"
    [@fadeOutAnimation]="showGoToTopButton ? 'show' : 'hide'"
  >
    <button mat-fab (click)="scrollToTop()" matTooltip="回到頁首">
      <mat-icon>publish</mat-icon>
    </button>
  </div>
</div>
